﻿
@model BookingApp.Models.Passengers


<div class="uw">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger font-red my-font-14" })
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Adults, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                    <div class="input-group">
                        @Html.EditorFor(x => x.Adults, new { htmlAttributes = new { @class = "form-control my-font-14", @placeholder = "Adult count(s)", @id = "_Adult", @pattern = "[0-9]*" } })
                        <div class="input-group-append">
                            <div class="input-group-text my-icon my-font-14"><i class="fas fa-male"></i></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.Adults, "", new { @class = "text-danger font-red my-font-14", @id = "_Errmsg01" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                @Html.LabelFor(x => x.Child, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                <div class="input-group">
                    @Html.EditorFor(x => x.Child, new { htmlAttributes = new { @class = "form-control my-font-14", @id = "_Child", @placeholder = "Child count(s)" } })
                    <div class="input-group-append">
                        <div class="input-group-text my-icon my-font-14"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(x => x.Child, "", new { @class = "text-danger font-red my-font-14", @id = "_Errmsg02" })
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                @Html.LabelFor(x => x.Infant, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                <div class="input-group">
                    @Html.EditorFor(x => x.Infant, new { htmlAttributes = new { @class = "form-control my-font-14", @id = "_Infant", @placeholder = "Infant count(s)", @min = "0", @max = "10" } })
                    <div class="input-group-append">
                        <div class="input-group-text my-icon my-font-14"><i class="fa fa-baby"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(x => x.Infant, "", new { @class = "text-danger font-red my-font-14", @id = "_Errmsg03" })
            </div>
        }
    </div>
</div>
