﻿@model BookingApp.Models.Passengers


<div class="uw">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger font-red my-font-14" })
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="form-group">
                    @Html.LabelFor(xx => xx.Adults, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                    <div class="input-group">
                        @Html.EditorFor(xx => xx.Adults, new { htmlAttributes = new { @class = "form-control my-font-14", @placeholder = "Adult count(s)", @id = "Adult", @pattern = "[0-9]*" } })
                        <div class="input-group-append">
                            <div class="input-group-text my-icon my-font-14"><i class="fas fa-male"></i></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(xx => xx.Adults, "", new { @class = "text-danger my-font-14", @id = "Errmsg_" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                @Html.LabelFor(xx => xx.Child, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                <div class="input-group">
                    @Html.EditorFor(xx => xx.Child, new { htmlAttributes = new { @class = "form-control my-font-14", @id = "Child", @placeholder = "Child count(s)" } })
                    <div class="input-group-append">
                        <div class="input-group-text my-icon my-font-14"><i class="fas fa-child"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(xx => xx.Child, "", new { @class = "text-danger font-red my-font-14", @id = "Errmsg1_" })
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                @Html.LabelFor(xx => xx.Infant, htmlAttributes: new { @class = "control-label font-red my-font-14" })
                <div class="input-group">
                    @Html.EditorFor(xx => xx.Infant, new { htmlAttributes = new { @class = "form-control my-font-14", @id = "Infant", @placeholder = "Infant count(s)", @min = "0", @max = "10" } })
                    <div class="input-group-append">
                        <div class="input-group-text my-icon my-font-14"><i class="fa fa-baby"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(xx => xx.Infant, "", new { @class = "text-danger font-red my-font-14", @id = "Errmsg2_" })
            </div>
        }
    </div>
</div>


