﻿@model BookingApp.Models.Passengers


<div class="uw" id="flghtsHotel">
    <div class="row element" id="div_1">
        <h4 style="margin-bottom:15px;margin-left:15px;color:white"><b>Room 1</b></h4>
        <h5 class="text-danger text-center" id="ErrorCounts"></h5>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    @Html.LabelFor(xxx => xxx.Adults, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.EditorFor(xxx => xxx.Adults, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adult count(s)", @id = "_Adults", @pattern = "[0-9]*" } })
                        <span class="input-group-addon">
                            <span class="fas fa-male"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(xxx => xxx.Adults, "", new { @class = "text-danger", @id = "Errmsg" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                @Html.LabelFor(xxx => xxx.Child, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    @Html.EditorFor(xxx => xxx.Child, new { htmlAttributes = new { @class = "form-control", @id = "_Childs", @placeholder = "Child count(s)" } })
                    <span class="input-group-addon">
                        <span class="fas fa-child"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(xxx => xxx.Child, "", new { @class = "text-danger", @id = "Errmsg1" })
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                @Html.LabelFor(xxx => xxx.Infant, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    @Html.EditorFor(xxx => xxx.Infant, new { htmlAttributes = new { @class = "form-control", @id = "_Infants", @placeholder = "Infant count(s)", @min = "0", @max = "10" } })
                    <span class="input-group-addon">
                        <span class="fa fa-baby"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(xxx => xxx.Infant, "", new { @class = "text-danger", @id = "Errmsg2" })
            </div>
        }
    </div>
</div>
<span class="btn btn-success" id="btn-Addrooms">Add Rooms</span>
