﻿<section>
    <div class="container">
        <h2 class="my-font-25 mb-0 mt-5 font-red p-md-3 p-sm-3 p-2 p-lg-3 p-xl-3 text-uppercase text-left shadow-effect">Russsian Expedition</h2>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7">
                    <i style='font-size:24px;color:#ff6a00' class="fas fa-dollar-sign"></i> <span class="font-red">1,988/pax</span> (Based on twin including airfare)
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7"><i class="far fa-calendar-alt" style='font-size:24px;color:darkorange'></i> Departure date: <span class="font-red"> Sept. 25 - oct. 05 / Oct. 25 - Nov. 04 / Nov. 18 - 28, 2019</span></h4>
            </div>
        </div>
        <hr class="my-border mt-0 mb-sm-1 mb-1 mb-lg-2 mb-xl-2 mb-md-2" />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                @*<h4 class="text-left font-red my-font-15">Hollyland</h4>
                <h6 class="text-left my-font-13 text-color-7">13 Days 3 in One</h6>*@
                <div class="card shadow-effect">
                    <div class="overflow-hidden">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            @*<ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ul>*@

                            <!-- The slideshow -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/Bg-img/tour-package/russia/russia.jpg" class="img-fluid hover-animate-img">
                                </div>
                                @*<div class="carousel-item">
                            <img src="~/Bg-img/tour-package/kansai/Abeno-Harukas-.jpg" class="img-fluid hover-animate-img">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Bg-img/tour-package/kansai/jw-5d1b45c79c8f28.39645637.jpeg" class="img-fluid hover-animate-img">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Bg-img/tour-package/kansai/osaka-castle.jpg" class="img-fluid hover-animate-img">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Bg-img/tour-package/kansai/Osaka_Districts-XL.jpg" class="img-fluid hover-animate-img">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Bg-img/tour-package/kansai/Universal-Studios-Japan.jpg" class="img-fluid hover-animate-img">
                        </div>*@
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    @*<span class="modal-price text-white">For as low as : <i class='fas fa-dollar-sign money-sign my-font-14'></i> 1768/pax</span>*@
                </div>
                <div class="card mt-3">
                    <ul class="nav nav-tabs font-red modal-ul">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="link-inclusion0">Inclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-itinerary0">Itinerary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-terms0">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-exclusion0">Exclusion</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-details0">Visa Requirements</a>
                        </li>*@
                    </ul>
                    <div class="text-left package-div container mt-2" id="inclusion_div0">
                        <h2 class="my-font-15">Tour inclusions</h2>
                        <ul class="my-font-14">
                            <li>Roundtrip Airfare on Emirates</li>
                            <li>Hotel Accommodation based on 4 star hotel</li>
                            <li>Daily Breakfast only</li>
                            <li>Free meals as stated in the itinerary</li>
                            <li>Sightseeing tours as specified in the itinerary</li>
                            <li>Entrances to most sights</li>
                            <li>Travel Kits</li>
                            <li>
                                Tours are based on SIC
                            </li>
                        </ul>
                    </div>

                    <div class="text-left container mt-2 pb-2" id="itinerary_div0">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseOne">
                                        DAY 1	DEPART MANILA
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Depart Manila, aboard on Emirates Airline, enjoy in-flight amenities, meals, & entertainment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTwo">
                                        DAY 2	ARRIVE MOSCOW
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Upon arrival in Moscow. Moscow is the capital and most populous city of Russia, with 17.1 million populations. Moscow is one of Russia's three federal cities. Moscow,  on the Moskva River in western Russia, is the nation’s cosmopolitan capital. In its historic core is the Kremlin,  a complex that’s home to the president and tsarist treasures in the Armory. Outside its walls is Red Square, Russia's symbolic center. Its home to Lenin’s Mausoleum, the State Historical Museum's comprehensive collection and St. Basil’s Cathedral, known for its colorful, onion- shaped domes. Upon arrival, you will meet with your English speaking assistant and then transfer to your hotel for overnight.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseThree">
                                        DAY 3	MOSCOW
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Have your breakfast at the hotel then proceed to your Kremlin tour with visiting of Kremlin Cathedrals, Red Square. Lunch on your own. Then proceed to Moscow city tour with stops at: Christ Cathedral the Savior, Gorky Park, Novodevichly Convent, Sparrow Hills, Moscow State University and White House. Transfer back to hotel
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFour">
                                        DAY 4	MOSCOW
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            After breakfast at hotel, proceed to Kolomenskoe tour. The old imperial estate at Kolomenskoe is one the most picturesque and enjoyable of Moscow’s out of town attractions and is an absolute must-see for those with an extra day to spare in the Russian capital. The estate is nestled on the steep west bank of the Moscow River, 10km southeast of the Kremlin and surrounded by 390 hectares of ancient forest land, which is now a conservation zone and one  of UNESCO’s World Heritage Sites. Kolomenskoe features vintage wooden structures built by many of the country’s Tsar, one of the most beautiful churches and example of Russian tent- roofed architecture in the country, and is a beautiful site for a spot of summer sunbathing or a snowy walk in the winter. After the tour, have your lunch on your own at the local restaurant. After lunch, have your walking Arbat tour with visiting Moscow metro and shopping souvenirs. Then back to hotel.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFive">
                                        DAY 5	MOSCOW
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            After breakfast, the whole day free at leisure in Moscow, for you to explore the city on your own, perhaps this is the best time for shopping. No services except breakfast.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseSix">
                                        DAY 6	MOSCOW - ST PETERSBURG
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Have your breakfast at the hotel, then transfers to railway station going to St. Petersburg. St. Petersburg is a Russian port city on the Baltic Sea. It was the imperial capital for 2 centuries, having been founded in 1703 by Peter the Great, subject of the city's iconic “Bronze Horseman” statue. It remains Russia's cultural center, with venues such as the Mariinsky Theatre hosting opera and ballet, and the State Russian Museum showcasing Russian art. Upon arrival in St. Petersburg, meet with your English speaking assistant then transfer to the hotel for check-in.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseSeven">
                                        DAY 7	ST PETERSBURG
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            After the breakfast at the hotel,  proceed  to  St.  Petersburg  city  tour  with  visiting  St.  Isaac Cathedral and Peter and Paul Fortress. Lunch on your own then proceed to Hermitage tour. After the tour, transfer back to hotel.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseEight">
                                        DAY 8	ST PETERSBURG
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Breakfast at the  hotel  then  proceed  to  Pushkin  tour  and  visiting  to  Catherine  Palace  and Park. After lunch, proceed to Pavlovsk tour. Then transfer back to the hotel.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseNine">
                                        DAY 9	ST PETERSBURG
                                    </a>
                                </div>
                                <div id="collapseNine" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            After breakfast, the whole day free at leisure in St. Petersburg, for you to explore the city on your own, perhaps this is the best time for shopping. No services except breakfast.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTen">
                                        DAY 10	ST PETERSBURG- MANILA
                                    </a>
                                </div>
                                <div id="collapseTen" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            After the breakfast at the hotel, check out and have your Peterhof tour with visiting Grand Palace and Low Park. Then you will be transferred to the airport for your flight back home.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseEleven">
                                        DAY 11	ARRIVE MANILA
                                    </a>
                                </div>
                                <div id="collapseEleven" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Arrive Manila from a very memorable and enjoyable trip.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left container mt-2" id="optional_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Terms and Conditions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">A Deposit of  US300.00  per  person is required and NON-refundable</li>
                            <li class="pt-1 pb-1">Full payment should be made  at least 30 days prior to departure</li>
                            <li class="pt-1 pb-1">
                                Cancelled made after issuance of visa will automatically forfeit dep.
                            </li>
                            <li class="pt-1 pb-1">
                                Cancellation made 30 days before dep.
                                will automatically forfeit the payment
                            </li>
                            <li class="pt-1 pb-1">Min. 30 pax - $1,988.00</li>
                            <li class="pt-1 pb-1">Min. 25 pax - $2,088.00</li>
                            <li class="pt-1 pb-1">Min. 20 pax - $2,188.00</li>
                            <li>
                                Min. 15 pax - $2,388.00
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="exclusion_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Exclusions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">Travel Insurance: $35 up to 60 Y/O</li>
                            <li class="pt-1 pb-1">
                                XT Taxes : TBA
                            </li>
                            <li class="pt-1 pb-1">
                                PH Travel Tax: USD32.00
                            </li>
                            <li class="pt-1 pb-1">
                                Lunch and Dinner
                            </li>
                            <li class="pt-1 pb-1">
                                Porterage’s, both airport, stations and hotels.
                            </li>
                            <li class="pt-1 pb-1">
                                Beverages / Drinks
                            </li>
                            <li class="pt-1 pb-1">
                                Items purely personal in nature such as telephone calls, laundry  service, use of refreshments in minibar
                            </li>
                        </ul>
                    </div>
                    @*<div class="text-left container mt-2" id="flightDetails_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Visa Requirements</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                Application Form
                            </li>
                            <li class="pt-1 pb-1">
                                Passport valid for 6 months
                            </li>
                            <li class="pt-1 pb-1">
                                2 pcs of recent passport size pictures
                            </li>
                            <li class="pt-1 pb-1">
                                Visa Processing Fee:
                                <ul>
                                    <li>
                                        Php7,500/person Regular Filing)
                                    </li>
                                    <li>
                                        Php12,000 /person (Rush Filing)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="card shadow-effect">
                    <ul class="nav nav-tabs font-red modal-ul pt-2 pl-2 pr-2">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="KnsaiBNbtn">Book this tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="KnsaiCUbtn">Contact Us</a>
                        </li>
                    </ul>
                    <div class="p-2" id="KnsaiBNdiv">
                        @RenderPage("~/Views/International/InternationalBooking.cshtml")
                    </div>
                    <div class="p-2" id="KnsaiCUdiv">
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                <strong>Tel.</strong>
                                <ul>
                                    <li>02-917 6187</li>
                                    <li>02 917 6190</li>
                                </ul>
                            </li>
                            <li class="pt-1 pb-1">
                                <strong>Mobile</strong>
                                <ul>
                                    <li>0975 260 2261</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Email</strong>
                                <ul>
                                    <li>MhylesTravel@gmail.com</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
