﻿
<section>
    <div class="container">
        <h2 class="my-font-25 mb-0 mt-5 font-red p-md-3 p-sm-3 p-2 p-lg-3 p-xl-3 text-uppercase text-left shadow-effect">Hanoi</h2>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7">
                    <span style='font-size:24px;color:#ff6a00'>&#8369;</span> 23,505/pax(min: 2 pax)
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7"><i class="far fa-calendar-alt" style='font-size:24px;color:darkorange'></i> Valid until: <span class="font-red">December 2019</span></h4>
            </div>
        </div>
        <hr class="my-border mt-0 mb-sm-1 mb-1 mb-lg-2 mb-xl-2 mb-md-2" />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h4 class="text-left font-red my-font-15">4 days / 3 nights</h4>
                <div class="card shadow-effect">
                    <div class="overflow-hidden">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/Bg-img/tour-package/hanoi/hanoi.jpg" class="img-fluid hover-animate-img">
                                </div> 
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    @*<span class="modal-price text-white">For as low as : <i class='fas fa-dollar-sign money-sign my-font-14'></i> 1768/pax</span>*@
                </div>
                <div class="card mt-3">
                    <ul class="nav nav-tabs font-red modal-ul">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="link-inclusion0">Inclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-itinerary0">Itinerary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-terms0">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-exclusion0">Exclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-details0">Hotel</a>
                        </li>
                    </ul>
                    <div class="text-left package-div container mt-2" id="inclusion_div0">
                        <h2 class="my-font-15">Tour inclusions</h2>
                        <ul class="my-font-14">
                            <li>
                                Hotel accommodation
                            </li>
                            <li>
                                Daily breakfast
                            </li>
                            <li>
                                boat cruising
                            </li>
                            <li>
                                Local english speaking guide
                            </li>
                            <li>
                                Gift as souvenir
                            </li>
                            <li>
                                Mineral water one bottle/day
                            </li>
                            <li>
                                Roundtrip airport transfer
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2 pb-2" id="itinerary_div0">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseOne">
                                        Day 1: ARRIVAL HANOI
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Upon arrival at Noi Bai International airport, you will be greeted by our Guide and Driver and transferred to Hanoi, explore historical Hanoi City with the visit to Ba Dinh Square, Ho Chi Minh Mausoleum & residence, One Pillar Pagoda and Temple of Literature (The 1st University of Vietnam ). Dinner at local restaurant. Overnight in Hanoi.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTwo">
                                        Day 2:  HANOI - HA LONG BAY
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Depart Hanoi for Ha Long Bay, the drive is approximately three hours. En route we have a short stop at the Sao Do arts and crafts centre run by handicapped children. Upon arrival at Ha Long, we will board our luxury junk boat for a delicious seafood lunch while our Junk is cruising around hundreds of wonderful limestone formations arising from emerald green water. After lunch we have the chance to explore one of the wonderful limestone caves dotted around the bay like Sung Sot (Amazing Cave. Continue cruising to a secluded spot for swimming and sun bathing before dinner. Enjoy another seafood feast for dinner. Overnight on the Junk.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseThree">
                                        Day 3:  HA LONG BAY - HANOI
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Rising to the lapping waters of the bay we have time for an early morning dip followed by breakfast. This morning we continue to cruise around the bay to find more secluded areas to either swim or kayak in. The kayaks are lightweight and easy to use. All guests will be issued with water buoyancy vests and the junk will be near us at all times serving as a backup vessel. At midday we will return to the main harbor before transferring to our awaiting vehicle for a 3-hour journey back to Hanoi. Visit the pottery village at Dong Trieu town. Back to Hanoi, you will be free for shopping before having dinner. Overnight in Hanoi.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFour">
                                        Day 4: HANOI DEPARTURE
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        <p>
                                            Breakfast at hotel then free until your transfer to the airport for your departure flight. Trip ends.
                                        </p>
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left container mt-2" id="optional_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Terms and Conditions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                Rates are subject to availability
                            </li>
                            <li class="pt-1 pb-1">
                                Rates are subject to change without prior notice
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="exclusion_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Exclusions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">Taxes</li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="flightDetails_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Hotel</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                Church Boutique hotel or similar
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="card shadow-effect">
                    <ul class="nav nav-tabs font-red modal-ul pt-2 pl-2 pr-2">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="KnsaiBNbtn">Book this tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="KnsaiCUbtn">Contact Us</a>
                        </li>
                    </ul>
                    <div class="p-2" id="KnsaiBNdiv">
                        @RenderPage("~/Views/International/InternationalBooking.cshtml")
                    </div>
                    <div class="p-2" id="KnsaiCUdiv">
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                <strong>Tel.</strong>
                                <ul>
                                    <li>02-917 6187</li>
                                    <li>02 917 6190</li>
                                </ul>
                            </li>
                            <li class="pt-1 pb-1">
                                <strong>Mobile</strong>
                                <ul>
                                    <li>0975 260 2261</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Email</strong>
                                <ul>
                                    <li>MhylesTravel@gmail.com</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

