﻿
<header class="seoul-header">
    <img src="~/Bg-img/tour-package/seoul/s3.jpg" class="img-fluid" />
</header>

<section>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7">
                    <i style='font-size:24px;color:#ff6a00' class="fas fa-dollar-sign"></i> 899/pax (Based on twin sharing)
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7"><i class="far fa-calendar-alt" style='font-size:24px;color:darkorange'></i> Departure dates: <span class="font-red">Oct. 31 - Nov. 04, Dec. 23 - 27,  2019 </span></h4>
            </div>
        </div>
        <hr class="my-border mt-0 mb-sm-1 mb-1 mb-lg-2 mb-xl-2 mb-md-2" />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h6 class="text-left my-font-13 text-color-7">All Soul's day and Christmas travel period!</h6>
                <div class="card shadow-effect">
                    <div class="overflow-hidden">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="item1 active"></li>
                                <li data-target="#myCarousel" data-slide-to="1" class="item2"></li>
                                <li data-target="#myCarousel" data-slide-to="2" class="item3"></li>
                                <li data-target="#myCarousel" data-slide-to="3" class="item4"></li>
                                <li data-target="#myCarousel" data-slide-to="4" class="item5"></li>
                                <li data-target="#myCarousel" data-slide-to="5" class="item5"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/Bg-img/tour-package/seoul/korea 1.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/seoul/1_gEoWPXvdB3MPa5m8XpL_Vg.jpeg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/seoul/Changgyong-Palace-background-Seoul.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/seoul/open-uri20190305-17796-92dhjq.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/seoul/Seoul-Palace.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/seoul/the_seoul_guide.jpg" class="img-fluid hover-animate-img">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    @*<span class="modal-price text-white">For as low as : <i class='fas fa-dollar-sign money-sign my-font-14'></i> 1768/pax</span>*@
                </div>

                <div class="card mt-3">
                    <ul class="nav nav-tabs font-red modal-ul">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="link-inclusion0">Inclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-itinerary0">Itinerary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-terms0">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-exclusion0">Exclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-details0">Flight Details</a>
                        </li>
                    </ul>
                    <div class="text-left package-div container mt-2" id="inclusion_div0">
                        <h2 class="my-font-15">Tour inclusions</h2>
                        <ul class="my-font-14">
                            <li>
                                Roundtrip economy airfare via
                                Korean Air
                            </li>
                            <li>Hotel: BWP Kukdo Hotel or similar</li>
                            <li>Meals as per itinerary</li>
                            <li>
                                Private transfers and English -
                                Speaking Guide
                            </li>
                            <li>
                                Tipping
                            </li>
                            <li>Visa Assistance</li>
                        </ul>
                    </div>

                    <div class="text-left container mt-2 pb-2" id="itinerary_div0">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseOne">
                                        Day 1 (Manila - Seoul)
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Depart Manila via KE624 bound to Incheon International Airport.
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTwo">
                                        Day 2 (Seoul)
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Upon arrival, you will meet your English-speaking guide then proceed to Nami Island. After lunch, you will visit Petite France then transfer back to Seoul to watch The Chef Bibap Show until scheduled departure going to BWP Kukdo Hotel or similar for check-in.
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseThree">
                                        Day 3 (Seoul)
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Breakfast at the hotel then meet your English-speaking guide at the hotel lobby for your day tour. You will visit Cosmetic Shopping, Red Pine Store and Trick Eye & Ice Museum. After lunch, enjoy Everland Theme Park and shopping at Dongdaemun until scheduled departure going back to hotel.
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFour">
                                        Day 4 (Seoul)
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Breakfast at the hotel then meet your English-speaking guide at the hotel lobby. Visit Gyeongbokgung Palace, National Folk Musem, Blue House(pass by) and Ginseng Museum. After lunch, visit DFS Shopping district, N Seoul Tower Observatory and Myeongdong Shopping district.
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                        <li>
                                                            Dinner
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFive">
                                        Day 5 (Seoul - Manila)
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Breakfast at the hotel then meet your English-speaking guide at the hotel lobby. Experience Kimchi Making and Hanbok Wearing, visit Amesthy Store, Kimpo Hyundai Outlet Shopping, Supermarket and Souvenir Store until scheduled transfer to airport for scheduled departure via KE 623 bound to Ninoy Aquino International Airport. End of service.
                                        <div class="card mt-2 pt-2 pb-2 my-font-13">
                                            <ul>
                                                <li>
                                                    Free Meals
                                                    <ul>
                                                        <li>
                                                            Breakfast
                                                        </li>
                                                        <li>
                                                            Lunch
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left container mt-2" id="optional_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Terms and Conditions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">Single Supplement: USD 200 per person</li>
                            <li class="pt-1 pb-1">USD 200 deposit per person(non-refundable).</li>
                            <li class="pt-1 pb-1">Strictly cash or cash deposit payment only.</li>
                            <li class="pt-1 pb-1">50% total cost payment upon approval of visa.</li>
                            <li class="pt-1 pb-1">100% total cost payment 14 days before the service date.</li>
                            <li class="pt-1 pb-1">Full penalty will be applied 3 weeks before the departure from MNL.</li>
                            <li class="pt-1 pb-1">
                                Activities available are subjected to
                                weather conditions.
                            </li>
                            <li class="pt-1 pb-1">The final rate will be based on the number of pax as a total in the group.</li>
                            <li class="pt-1 pb-1">Signed travel services agreement is required.</li>
                            <li class="pt-1 pb-1">Minimum of 10 participants to run this tour.</li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="exclusion_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Exclusions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">Airline taxes (TBA) and PH tax (PHP 1,620)</li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="flightDetails_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Flight Details</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                SEPTEMBER
                                <ul>
                                    <li>KE 624 MNL-ICN 2310 0415</li>
                                    <li>KE 623 ICN-MNL 1845 2155</li>
                                </ul>
                            </li>
                            <li>
                                OCTOBER & DECEMBER
                                <ul>
                                    <li>KE 624 MNL-ICN 2300 0400 </li>
                                    <li>KE 623 ICN-MNL 1835 2145</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="card shadow-effect">
                    <ul class="nav nav-tabs font-red modal-ul pt-2 pl-2 pr-2">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="KnsaiBNbtn">Book this tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="KnsaiCUbtn">Contact Us</a>
                        </li>
                    </ul>
                    <div class="p-2" id="KnsaiBNdiv">
                        @RenderPage("~/Views/International/InternationalBooking.cshtml")
                    </div>
                    <div class="p-2" id="KnsaiCUdiv">
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                <strong>Tel.</strong>
                                <ul>
                                    <li>02-917 6187</li>
                                    <li>02 917 6190</li>
                                </ul>
                            </li>
                            <li class="pt-1 pb-1">
                                <strong>Mobile</strong>
                                <ul>
                                    <li>0975 260 2261</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Email</strong>
                                <ul>
                                    <li>MhylesTravel@gmail.com</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
