﻿
@model BookingApp.Models.International
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger my-font-13" })
    <div class="card mt-2">
        <h4 class="my-font-18 text-center text-capitalize font-red p-2">Personal Informations</h4>
        <hr class="my-border mt-0" />
        <div class="row p-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.fname, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.fname, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter first name" } })
                </div>
                @Html.ValidationMessageFor(m => m.fname, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.lname, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.lname, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter last name" } })
                </div>
                @Html.ValidationMessageFor(m => m.lname, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.mname, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.mname, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter middle name" } })
                </div>
                @Html.ValidationMessageFor(m => m.mname, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.contactNo, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.contactNo, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter mobile number" } })
                </div>
                @Html.ValidationMessageFor(m => m.contactNo, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.landlineNo, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.landlineNo, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter Landline number" } })
                </div>
                @Html.ValidationMessageFor(m => m.landlineNo, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.emailAdd, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.emailAdd, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter email" } })
                </div>
                @Html.ValidationMessageFor(m => m.emailAdd, "", new { @class = "text-danger my-font-13" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.travelDate, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group" id="i-dprtureDate0" data-target-input="nearest">
                    @Html.EditorFor(m => m.travelDate, new { htmlAttributes = new { @class = "form-control my-font-13", @placeholder = "Enter departure date", @id = "IdprtDate0" } })
                    <div class="input-group-append" data-target="#i-dprtureDate0" data-toggle="datetimepicker">
                        <div class="input-group-text my-btn my-font-13"><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.travelDate, "", new { @class = "text-danger my-font-13", @id = "guestError" })
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                @Html.LabelFor(m => m.GuestCount, htmlAttributes: new { @class = "control-label my-font-13 label-color" })
                <div class="input-group">
                    @Html.EditorFor(m => m.GuestCount, new { htmlAttributes = new { @class = "form-control my-font-13", @id = "guestCount0", @placeholder = "Enter guest count(s) except you" } })
                    <div class="input-group-append">
                        <div class="input-group-text my-icon my-font-14"><i class="fas fa-users"></i></div>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.GuestCount, "", new { @class = "text-danger my-font-13", @id = "guestError0" })
            </div>
        </div>
    </div>
    <div class="card mt-2" id="guest-counter0">
        <h4 class="my-font-18 text-center text-capitalize font-red p-2">Other Guests</h4>
        <hr class="my-border mt-0" />
        <div class="row p-2" id="guest0">

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-right">
            <button type="submit" class="btn my-btn my-font-13" onclick="alert('link closed'); return false">inquire Now</button>
        </div>
    </div>
}
