﻿
<section>
    <div class="container">
        <h2 class="my-font-25 mb-0 mt-5 font-red p-md-3 p-sm-3 p-2 p-lg-3 p-xl-3 text-uppercase text-left shadow-effect">International Tours</h2>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7">
                    <i style='font-size:24px;color:#ff6a00' class="fas fa-dollar-sign"></i> 2252/pax 
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7"><i class="far fa-calendar-alt" style='font-size:24px;color:darkorange'></i> departure dates: <span class="font-red" id="imperialCapital"></span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h4 class="text-left font-red my-font-15">Imperial Capitals</h4>
                <h6 class="text-left my-font-13 text-color-7">Europe Package!</h6>
                <div class="card shadow-effect">
                    <div class="overflow-hidden">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="item1 active"></li>
                                <li data-target="#myCarousel" data-slide-to="1" class="item2"></li>
                                <li data-target="#myCarousel" data-slide-to="2" class="item3"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/Bg-img/tour-package/imperial/images (1).jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/imperial/images (3).jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/tour-package/imperial/images.jpg" class="img-fluid hover-animate-img">
                                </div> 
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    @*<span class="modal-price text-white">For as low as : <i class='fas fa-dollar-sign money-sign my-font-14'></i> 1768/pax</span>*@
                </div>
                <h2 class="text-danger my-font-15 text-left mt-3">Note: note about reservations</h2>
                <div class="card mt-3">
                    <ul class="nav nav-tabs font-red modal-ul">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="link-inclusion0">Inclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-itinerary0">Itinerary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-terms0">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-exclusion0">Exclusion</a>
                        </li>  
                    </ul>
                    <div class="text-left package-div container mt-2" id="inclusion_div0">
                        <h2 class="my-font-15">Tour inclusions</h2>
                        <ul class="my-font-14">
                            <li>
                                Roundtrip economy airfare via Emirates Airline
                            </li>
                            <li>
                                3 - 4 Star Hotel Accommodation
                            </li>
                            <li>
                                Tour leader
                            </li>
                            <li>
                                Seat-in coach tours and transfers
                            </li>
                            <li>
                                English speaking guide
                            </li>
                            <li>
                                Tipping for guide and driver
                            </li>
                        </ul>
                    </div>

                    <div class="text-left container mt-2 pb-2" id="itinerary_div0">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseOne">
                                        Day 1 (Manila - Vienna)
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Departure from Manila bound for Vienna International Airport.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTwo">
                                        Day 2 (Vienna)
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        TODAY'S HIGHLIGHTS: Arrival. Transfer to the hotel.Welcome to Europe!!!. Transfer to hotel and free time. You will receive information about the start of the circuit during the afternoon, or you can check the informative panels in the hotel reception area.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseThree">
                                        Day 3 (Vienna)
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        TODAY'S HIGHLIGHTS: Vienna city tour. Gardens of the immense Schonbrunn Palace. After breakfast, at around 12.00h, we start with a scenic visit around Vienna with a local expert. Here, we experience its majestic avenues, its palaces and the vibrant city centre. Directly afterwards, we head the Schonbrunn Palace where visitors can stroll around and enjoy its beautiful gardens. In the evening we go to the City Hall Square to enjoy the lighting and the nightlife in the neighbouring streets, where you can dine at your preferred restaurant with cuisines from around the world including Austrian, Chinese.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFour">
                                        Day 4 (Vienna - Budapest)
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        TODAY'S HIGHLIGHTS: Cruise on the Danube. Tour with our local expert in Budapest. We depart for Hungary. We have a little under a 3-hours trip to Budapest. Arrival to BUDAPEST at around 11.30 hrs. Discover the city on a boat tour along the Danube River; the views of the city and parliament are impressive. After time for lunch, we will include a scenic tour of the "Queen of the Danube". This city is divided by the Danube, with historic Buda on one side and cosmopolitan "Pest" on the opposite bank. Leisure time after the tour.There will be time at the end of the day in the lively area ofVaci Utca, where there are lots of little restaurants with food from different countries (Indian, Chinese, Hungarian and Italian).
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseFive">
                                        Day 5 (Budapest - Bratislava - Prague)
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        TODAY'S HIGHLIGHTS. Time to explore Bratislava. Czech landscapes. We will leave Budapest for BRATISLAVA, the capital of Slovakia and a city alongside the Danube with an attractive historic centre. Time to see the city and have lunch. After lunch we will continue on our way to the Czech Republic. PRAGUE - At the end of the afternoon, we provide transport to take you to the Old Town Square. This central location is full of energy and touristic activities. It's a marvellous place to acquaint ourselves with Prague. Several restaurants offering cuisines from around the world will be waiting to delight your taste buds, including Czech, Chinese, Indian and Italian. Return to hotel.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseSix">
                                        Day 6 (Prague)
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        TODAY'S HIGHLIGHTS: City tour of Prague. Visit to Castle. Boat tour along the river. Today we are visiting this capital city, which is the Baroque jewel of Europe. Our local expert will provide a guided city tour, which will include the most outstanding monuments. During the visit we walk through Prague Castle (admission included). Subsequently, we shall take a magnificent boat tour along Vltava River. Free time in the afternoon to explore Prague. In the evening, we will enjoy some time off in the historical city center and there will be an opportunity for you to enjoy cuisines from around the world (including Czech, Chinese, Indian and Italian). Return to hotel.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseSeven">
                                        Day 7 (Prague - Manila)
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Transfer to Vaclav Havel Airport Prague for your flight bound for Manila.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseEight">
                                        Day 8 (Manila)
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Arrival in Manila. End of service.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left container mt-2" id="optional_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Terms and Conditions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                Single Supplement: USD 368 per person
                            </li>
                            <li class="pt-1 pb-1">
                                Applicable discounts (for land arrangement portion only):
                                <ul>
                                    <li class="pt-1 pb-1">
                                        Triple Room (15%)
                                    </li>
                                    <li class="pt-1 pb-1">
                                        Europamundo Repeaters (5%)
                                    </li>
                                    <li class="pt-1 pb-1">
                                        Over 65 years old (5%)
                                    </li>
                                    <li class="pt-1 pb-1">
                                        Below 3 years old (no bed) (80%)
                                    </li>
                                    <li class="pt-1 pb-1">
                                        3 to 9 years old (no bed) (40%)
                                    </li>
                                    <li class="pt-1 pb-1">
                                        9 to 15 years old (no bed) (10%)
                                    </li>
                                </ul>
                            </li>
                            <li class="pt-1 pb-1">
                                USD 300 deposit per person(non-refundable).
                            </li>
                            <li class="pt-1 pb-1">
                                Strictly cash or cash deposit payment only.
                            </li>
                            <li class="pt-1 pb-1">
                                50% total cost payment upon approval of visa.
                            </li>
                            <li class="pt-1 pb-1">
                                60% total cost payment 30 days prior to departure.
                            </li>
                            <li class="pt-1 pb-1">
                                100% total cost payment 3 weeks before the departure from MNL.
                            </li>
                            <li class="pt-1 pb-1">
                                Full penalty will be applied 3 weeks before the departure from MNL.
                            </li>
                            <li class="pt-1 pb-1">
                                Activities available are subjected to weather conditions.
                            </li>
                            <li class="pt-1 pb-1">
                                The final rate will be based on the number of pax as a total in the group.
                            </li>
                            <li class="pt-1 pb-1">
                                Signed travel services agreement is required.
                            </li>
                            <li class="pt-1 pb-1">
                                Minimum of 10 participants to run this tour.
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="exclusion_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Exclusions</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">
                                Airline taxes (TBA) and PH tax (PHP 1,620)
                            </li>
                            <li class="pt-1 pb-1">
                                Lunch and dinner
                            </li>
                            <li class="pt-1 pb-1">
                                Visa application
                            </li>
                            <li class="pt-1 pb-1">
                                Travel insurance
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2" id="flightDetails_div0">
                        <h2 class="my-font-14 text-color-8 mt-1">Flight Details</h2>
                        <ul class="my-font-13 text-color-8">
                            <li class="pt-1 pb-1">PR 412 23Dec MNL KIX 0905 1410</li>
                            <li class="pt-1 pb-1">PR 411 27Dec KIX MNL 1615 1915</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="card shadow-effect p-2">
                    <h4 class="my-font-18 text-center text-capitalize font-red p-2">Book this tour</h4>
                    @RenderPage("~/Views/International/InternationalBooking.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>
