﻿@model BookingApp.Areas.AdminPanel.Models.Categories

@using (Html.BeginForm("AddCategory", "ControlPanel", FormMethod.Post, new { @id = "CatFormData" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row p-2">
        <div class="col-12">
            <div class="form-group">
                <div class="input-group">
                    @Html.EditorFor(model => model.c_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Category" } })
                </div>
                @Html.ValidationMessageFor(model => model.c_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <button class="btn btn-success pull-right" id="btnSavecategory">Save Category</button>
                <button class="btn my-font-14 font-red pull-right" type="button" id="btnSaveCatLoading" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Processing...
                </button>
            </div>
        </div>
    </div>
}
