﻿@using BookingApp.Areas.AdminPanel.Security
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Admin Page
    </title>
    <link rel="icon" href="~/Bg-img/travel-logo-900.png" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    @Scripts.Render("~/styles/fontawesome-kit")
    @Styles.Render("~/Content/admindashboard")
    @Styles.Render("~/Content/adminSites")
    @Styles.Render("~/styles/datatableb4")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="" id="main-body">
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="black" data-image="../../image/dracaena-cinnabari.jpg">
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    AD
                </a>
                <a href="#" class="simple-text logo-normal">
                    Administrator
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="~/image/img.jpg" />
                    </div>
                    <div class="user-info">
                        <a data-toggle="collapse" href="#collapseExample" class="username">
                            <span>
                                @Sessions.Username
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> MP </span>
                                        <span class="sidebar-normal"> My Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> EP </span>
                                        <span class="sidebar-normal"> Edit Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> S </span>
                                        <span class="sidebar-normal"> Settings </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" href="@Url.Action("Index", "ControlPanel")">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                            <i class="material-icons">
                                flight_takeoff
                            </i>
                            <p>
                                Tour Package
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="pagesExamples">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("AddPackage", "ControlPanel")">
                                        <i class="material-icons">
                                            queue
                                        </i>
                                        <span class="sidebar-normal">Add Package</span>
                                    </a>
                                </li>
                                @*<li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> D </span>
                                            <span class="sidebar-normal"> Domestic </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> E </span>
                                            <span class="sidebar-normal"> Educational </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> I </span>
                                            <span class="sidebar-normal"> International </span>
                                        </a>
                                    </li>*@
                                @*<li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> RP </span>
                                            <span class="sidebar-normal"> Register Page </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> LSP </span>
                                            <span class="sidebar-normal"> Lock Screen Page </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> UP </span>
                                            <span class="sidebar-normal"> User Profile </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> E </span>
                                            <span class="sidebar-normal"> Error Page </span>
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item ">
                            <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
                                <i class="material-icons">apps</i>
                                <p>
                                    Components
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="componentsExamples">
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
                                            <span class="sidebar-mini"> MLT </span>
                                            <span class="sidebar-normal">
                                                Multi Level Collapse
                                                <b class="caret"></b>
                                            </span>
                                        </a>
                                        <div class="collapse" id="componentsCollapse">
                                            <ul class="nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> E </span>
                                                        <span class="sidebar-normal"> Example </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> B </span>
                                            <span class="sidebar-normal"> Buttons </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> GS </span>
                                            <span class="sidebar-normal"> Grid System </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> P </span>
                                            <span class="sidebar-normal"> Panels </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> SA </span>
                                            <span class="sidebar-normal"> Sweet Alert </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> N </span>
                                            <span class="sidebar-normal"> Notifications </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> I </span>
                                            <span class="sidebar-normal"> Icons </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> T </span>
                                            <span class="sidebar-normal"> Typography </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                                <i class="material-icons">content_paste</i>
                                <p>
                                    Forms
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="formsExamples">
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> RF </span>
                                            <span class="sidebar-normal"> Regular Forms </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> EF </span>
                                            <span class="sidebar-normal"> Extended Forms </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> VF </span>
                                            <span class="sidebar-normal"> Validation Forms </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> W </span>
                                            <span class="sidebar-normal"> Wizard </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    @*<li class="nav-item ">
                            <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
                                <i class="material-icons">grid_on</i>
                                <p>
                                    Tables
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="tablesExamples">
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> RT </span>
                                            <span class="sidebar-normal"> Regular Tables </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> ET </span>
                                            <span class="sidebar-normal"> Extended Tables </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">
                                            <span class="sidebar-mini"> DT </span>
                                            <span class="sidebar-normal"> DataTables.net </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    @*<li class="nav-item ">
                            <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                                <i class="material-icons">place</i>
                                <p>
                                    Tour Destinations
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="mapsExamples">
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
                                            <span class="sidebar-mini"> D </span>
                                            <span class="sidebar-normal">
                                                Domestic
                                                <b class="caret"></b>
                                            </span>
                                        </a>
                                        <div class="collapse" id="componentsCollapse">
                                            <ul class="nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> A </span>
                                                        <span class="sidebar-normal"> Add </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> V </span>
                                                        <span class="sidebar-normal"> View </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse1">
                                            <span class="sidebar-mini"> E </span>
                                            <span class="sidebar-normal">
                                                Educational
                                                <b class="caret"></b>
                                            </span>
                                        </a>
                                        <div class="collapse" id="componentsCollapse1">
                                            <ul class="nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> A </span>
                                                        <span class="sidebar-normal"> Add </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> V </span>
                                                        <span class="sidebar-normal"> View </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse2">
                                            <span class="sidebar-mini"> I </span>
                                            <span class="sidebar-normal">
                                                International
                                                <b class="caret"></b>
                                            </span>
                                        </a>
                                        <div class="collapse" id="componentsCollapse2">
                                            <ul class="nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> A </span>
                                                        <span class="sidebar-normal"> Add </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="#0">
                                                        <span class="sidebar-mini"> V </span>
                                                        <span class="sidebar-normal"> View </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Slides", "ControlPanel")">
                            <i class="material-icons">widgets</i>
                            <p> Slides and Captions </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" target="_blank" href="@Url.Action("ChatBot", "ControlPanel")">
                            <i class="material-icons">headset_mic</i>
                            <p> Visitors Hub </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" onclick="alert('Sorry, link underconstruction!'); return false;">
                            <i class="material-icons">date_range</i>
                            <p> Calendar </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="@Url.Action("Index", "ControlPanel")">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                                @*<div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>*@
                            </form>
                        <ul class="navbar-nav">
                            @*<li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="material-icons">dashboard</i>
                                        <p class="d-lg-none d-md-block">
                                            Stats
                                        </p>
                                    </a>
                                </li>*@
                            @*<li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">notifications</i>
                                        <span class="notification">5</span>
                                        <p class="d-lg-none d-md-block">
                                            Some Actions
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                        <a class="dropdown-item" href="#">Another Notification</a>
                                        <a class="dropdown-item" href="#">Another One</a>
                                    </div>
                                </li>*@
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    @*<a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#IndexSlides" data-toggle="modal">Upload Slides</a>*@
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            @RenderBody()

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Team Swakerz
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i style="color:red" class="material-icons">favorite</i> by
                        <a href="#" target="_blank">Team Swakerz</a> for a better web.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="badge-colors ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure active" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-warning" data-color="orange"></span>
                            <span class="badge filter badge-danger" data-color="danger"></span>
                            <span class="badge filter badge-rose active" data-color="rose"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-black active" data-background-color="black"></span>
                            <span class="badge filter badge-blue" data-background-color="blue"></span>
                            <span class="badge filter badge-red" data-background-color="red"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Mini</p>
                        <label class="ml-auto">
                            <div class="togglebutton switch-sidebar-mini">
                                <label>
                                    <input type="checkbox" />
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Images</p>
                        <label class="switch-mini ml-auto">
                            <div class="togglebutton switch-sidebar-image">
                                <label>
                                    <input type="checkbox" checked="" />
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/image/sidebar-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/image/sidebar-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/image/sidebar-3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="~/image/sidebar-4.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    @Scripts.Render("~/bundles/adminjquery")
    @Scripts.Render("~/bundles/adminpopper")
    @Scripts.Render("~/bundles/adminmaterial")
    @Scripts.Render("~/bundles/adminscrollbar")
    @Scripts.Render("~/bundles/adminmoment")
    @Scripts.Render("~/bundles/adminsweetalert")
    @Scripts.Render("~/bundles/adminvalidate")
    @Scripts.Render("~/bundles/adminwizard")
    @Scripts.Render("~/bundlles/adminselectpicker")
    @Scripts.Render("~/bundles/admindatetimepicker")
    @*@Scripts.Render("~/bundles/admindataTable")*@
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatablebjs4")
    @Scripts.Render("~/bundles/admintagsinput")
    @Scripts.Render("~/bundles/adminjasnyBootstrap")
    @Scripts.Render("~/bundles/admincalendar")
    @Scripts.Render("~/bundles/adminjvectormap")
    @Scripts.Render("~/bundles/adminnouislider")
    @Scripts.Render("~/bundles/admincore")
    @Scripts.Render("~/bundles/adminarrive")
    @Scripts.Render("~/bundles/adminbutton")
    @Scripts.Render("~/bundles/adminchart")
    @Scripts.Render("~/bundles/adminnotify")
    @Scripts.Render("~/bundles/adminmaterialdashboard")
    @Scripts.Render("~/bundles/adminjavascript")
    @Scripts.Render("~/bundles/adminsharre")
    @Scripts.Render("~/bundles/admincustomSharre")
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/adminpagedemo")*@
    @RenderSection("scripts", required: false)
</body>
</html>
