﻿<section>
    <div class="container shadow-effect">
        <h2 class="my-font-25 mb-0 mt-5 font-red p-md-3 p-sm-3 p-2 p-lg-3 p-xl-3 text-uppercase text-left shadow-effect">Educational Tours</h2>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="my-font-15 text-color-7">
                    <i style='font-size:24px;color:#ff6a00' class="fas fa-users"></i> Minimum Of 2 Person(s)
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4 class="text-capitalize my-font-15 text-color-7"><i class="far fa-calendar-alt" style='font-size:24px;color:darkorange'></i> travel period: <span class="font-red" id="travelPeriod"></span></h4>
            </div>
        </div>
        <hr class="my-border mt-0" />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h4 class="text-capitalize text-left font-red my-font-15">Tourist spot name</h4>
                <h6 class="text-capitalize text-left my-font-13 text-color-7">3 day(s) and 2 night(s)</h6>
                <div class="card shadow-effect">
                    <div class="overflow-hidden">
                        <div id="myCarousel" class="carousel slide">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li class="item1 active"></li>
                                <li class="item2"></li>
                                <li class="item3"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Bg-img/slides/educational/shutterstock_139157780.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/slides/educational/national-museum-african-american-history-culture-NMAAHC1010_0.jpg" class="img-fluid hover-animate-img">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Bg-img/slides/educational/The-Heritage-of-Cebu-Monument_006.jpg" class="img-fluid hover-animate-img">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                    <span class="modal-price text-white">For as low as : <span style="color:green">&#8369; 15,000.00</span>/pax</span>
                </div>
                <h2 class="text-danger my-font-15 text-left mt-3">Note: note about reservations</h2>
                <div class="card mt-3 mb-3 shadow-effect">
                    <ul class="nav nav-tabs font-red modal-ul">
                        <li class="nav-item modal-li">
                            <a class="nav-link user_links active my-font-15" id="link-inclusion">Inclusion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-itinerary">Itinerary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user_links my-font-15" id="link-optional">Optional Tours</a>
                        </li>
                    </ul>
                    <div class="text-left package-div container pt-2" id="inclusion_div">
                        <h2 class="text-capitalize my-font-14 text-color-8">Package inclusion</h2>
                        <ul class="text-capitalize my-font-14 text-color-8">
                            <li>2 nights accomodation</li>
                            <li>Minimum of 2 person(s)</li>
                            <li>roundtrip airport transfer(s)</li>
                            <li>City Name tour</li>
                            <li>
                                tour destination(s)
                                <ul class="my-font-13">
                                    <li>destination 1</li>
                                    <li>destination 2</li>
                                    <li>destination 3</li>
                                    <li>destination 4</li>
                                </ul>
                            </li>
                            <li>
                                free meals
                                <ul class="my-font-14">
                                    <li>Daily breakfast</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="text-left container mt-2 pb-2" id="itinerary_div">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseOne">
                                        Day 1
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseTwo">
                                        Day 2
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link my-font-14 font-orange user_links" data-toggle="collapse" href="#collapseThree">
                                        Day 3
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body text-color-8 my-font-13">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left container mt-2" id="optional_div">
                        <h2 class="text-capitalize my-font-14 text-color-8 mt-1">Optional tours</h2>
                        <ul class="text-capitalize my-font-13 text-color-8">
                            <li class="pt-1 pb-1">One day Distanation Tour: Adult: PHP120, Child: PHP110</li>
                            <li class="pt-1 pb-1">Symphony of Light Dinner Cruise: Adult: PHP120, Child: PHP110</li>
                            <li class="pt-1 pb-1">One day Distanation Tour: Adult: PHP120, Child: PHP110</li>
                            <li class="pt-1 pb-1">Symphony of Light Dinner Cruise: Adult: PHP120, Child: PHP110</li>
                            <li class="pt-1 pb-1">One day Distanation Tour: Adult: PHP120, Child: PHP110</li>
                            <li class="pt-1 pb-1">Symphony of Light Dinner Cruise: Adult: PHP120, Child: PHP110</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card shadow-effect p-2 mb-3">
                    <h4 class="my-font-18 text-center text-capitalize font-red p-2">Book this tour</h4>
                    <hr class="my-border mt-0" />
                    @RenderPage("~/Views/Educational/EducationalBooking.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>
